<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Suppliers</title>
		<style>
			body {
				background-color: whitesmoke;
				color: black;
				font-family: Arial, sans-serif;
				margin: 0;
				padding: 20px;
			}

			h1 {
				color: black;
			}
			table {
				width: 100%;
				border-collapse: collapse;
				margin-top: 20px;
			}

			th,
			td {
				border: 1px solid white;
				padding: 8px;
				text-align: left;
			}

			th {
				background-color: rgb(247, 142, 6);
			}
			tr:nth-child(2n) {
				background-color: rgb(206, 146, 67);
			}
		</style>
	</head>
	<body>
		<h1>Suppliers</h1>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Company Name</th>
					<th>ID</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>SweetDelights Distributors<!--buraya ad--></td>
					<td>5551234567<!--buraya id--></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
